<nav>
    <ul>
      <li><strong>@Declutterly</strong></li>
    <ul>
      <li><a href="/about">ℹ About</a></li>
      <li><a href="https://techup.live" target="_blank">🔗 TechUp Live</a></li>
    </ul>
</nav>