<nav>
    <img id="banner" src="images/declutterlyheader.png" alt="banner">
    <div class="navigator-bar"><ul><li class="head"><a href="/about"><strong>DeclutterLY</strong></a></li>
            </ul></div>  
</nav>