<nav>
    <img id="banner" src="./pictures/Banner2.png" alt="banner">
        <nav>
            <ul>
                <li class="head"><a href="/home">Home</a></li>
                <li class="head"><a href="www.google.com">NEA</a></li>
                <li class="head"><a href="/about">About Us</a></li>
            </ul>  
</div>
</nav>