<nav>
    <img id="banner" src="./pictures/Banner2.png" alt="banner">
        <nav>
            <ul>
                <li class="head"><a href="/about">DeclutterLY</a></li>
            </ul>  
</div>
</nav>