<nav class="navibar">
    <ul><strong>Declutterly          </strong></ul>
      <p align="right">
      <a href="/about">ℹ About</a>      <a href="https://techup.live" target="_blank">🔗 TechUp Live</a>
</nav>