<nav>
    <div class="navigator-bar"></div><img" id="banner" src="declutterlyheader.png" alt="banner"></div>
    <ul>
      <li><strong>DeclutterLY</strong></li>
    </ul>
    <ul>
      <li><a href="/about">ℹ About</a></li>
      <li><a href="https://techup.live" target="_blank">🔗 TechUp Live</a></li>
    </ul>
</nav>