body {
font-family: Arial, sans-serif;
background-color: #ffffff;
max-width: 800px;
margin: auto;
padding: 20px;
}

h1 {
color: #00a808;
}
h2 {
color: #435f45;
}
h3 {
color: #3a5143;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #e1f0ff;
  text-decoration-color:#e2e6ea;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

li.done {
  background-color: #131313;
  text-decoration-color:#e2e6ea;
}
a {
    text-decoration: none;
    color: #000000; /* Default color */
    transition: color 0.3s ease, box-shadow 0.3s ease;
    padding: 5px;
    border-radius: 5px;
}

a:hover {
    color: #000000; /* Darker color on hover */
    text-decoration: underline;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}


label {
font-weight: bold;
}

input[type="text"], textarea, select {
width: 100%;
padding: 10px;
margin: 8px 0 20px;
border: 1px solid #1e8a6b;
border-radius: 4px;
}
input-group {
width: 100%;
padding: 10px;
margin: 8px 0 20px;
border: 1px solid #1e8a6b;
border-radius: 4px;
}
input-group-location {
width: 100%;
padding: 10px;
margin: 8px 0 20px;
border: 1px solid #1e8a6b;
border-radius: 4px;
}


button {
background-color: #00a244;
color: rgb(0, 0, 0);
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}
button:hover {
background-color: #54ff9b;
}
buttonA {
background-color: #ffffff;
color: rgb(255, 255, 255);
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}
buttonA:hover {
background-color: #54ff9b;
}

output {
background: #fff;
padding: 20px;
margin-top: 30px;
border: 1px solid #740303;
}
result-item {
padding: 10px 0;
border-bottom: 1px solid #eee;
}
navigator-bar {
background-color: #219150;
text-align: left;
}