<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css" >
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RGYMZRZ03H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RGYMZRZ03H');
</script>
</head>
<body>
        <!-- Information about the about page -->
        <div class="welcome-container">
            <h1>About</h1>
            <><h4>Decluttery.space... where things go matters</h4>
        </div>
        <div class="about-container">
            <img src="/images/declutterlyheader.jpg" alt="DeclutterLY">
            <h3>Welcome to Declutterly.Space</h3> 
            <p>Decluttering isn't just about clearing space—it’s about doing it with purpose. 
            Declutterly.space aims to be support sustainable decluttering in Singapore, 
            helping you find meaningful ways to recycle, repair or repurpose your items instead of adding to landfill waste. 
            Whether you're looking to donate, sell, or responsibly dispose of belongings, 
            we provide curated resources and practical guidance to make the process seamless. 
            Our mission is simple: to make decluttering effortless while reducing environmental impact, 
            one thoughtful choice at a time. Join us in shaping a cleaner, more sustainable future
            because where things go matters.</p>
        <br>
            <a href="/">Back to home</a>
        </div>
    </main>
    <!-- Footer -->  
     <footer>
        <p>&copy; 2025 <a href="/about"><strong>DeclutterLY.space</strong></a>
    </footer>
</body>
</html>