<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css" >
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RGYMZRZ03H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RGYMZRZ03H');
</script>
</head>
<body>
    <main class="container">
        <!-- Navbar which can be reused across other pages -->
        <%- include('../partials/navbar'); %>

        <!-- Information about the about page -->
        <div class="welcome-container">
            <h1>About</h1>
            <p>Decluttery... where things go matters/p>
        </div>

        <div class="about-container">
            <img src="/images/declutterlyheader.jpg" alt="DeclutterLY">
            <p>.Welcome to Decluttery, your digital companion for transforming chaos into clarity. In a world where clutter—both physical and digital—can overwhelm our spaces and minds, Decluttery provides a structured, intuitive approach to help you regain control and embrace a minimalist lifestyle.

<h2>Mission</h2>
Decluttery was built with a simple yet powerful mission: to empower individuals to declutter effectively, effortlessly, and intentionally. Whether it's streamlining your home, workspace, or digital life, our app offers a seamless way to categorize, evaluate, and eliminate unnecessary items while fostering sustainable habits.</p>
            <br>
            <a href="/">Back to home</a>
        </div>

    </main>
</body>
</html>