<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css" >
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RGYMZRZ03H"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-RGYMZRZ03H');
    </script>
</head>
<body>
<main class="container">
  <!-- Navbar (will align left as per your CSS) -->
  <%- include('../partials/navbar'); %>
  <h1>About</h1>
  <div class="about-container">
  <img class="about-img" src="/images/main.jpg" alt="where your things go matters">
      <div class="about-content">
          <p>
          Decluttering isn't just about clearing space — it's about doing it with purpose.<br>
          <br>
          <strong>Declutterly.space</strong> aims to support sustainable decluttering in Singapore by helping you find meaningful ways to recycle, repair, or repurpose your items instead of adding to landfill waste.<br>
          <br>Whether you're looking to donate, sell, or responsibly dispose of belongings, 
          DeclutterLy.space highlights options for you to declutter while reducing environmental impact, one thoughtful choice at a time.<br>
          Be part of shaping a cleaner, more sustainable future—<em>because where things go matters.</em>
      </p>
      </div>
  </div>
</main>
<!-- Footer -->  
<footer>
<p>&copy; 2025 <a href="/about"><strong>DeclutterLY.space</strong></a></p>
<br>
<br><i>Disclaimer: This website is created for learning purposes only. 
The information provided here should not be considered professional advice. 
Please note that we make no guarantees regarding the accuracy, completeness, or 
reliability of the contents of this website. Any actions you take based on the 
contents of this website are at your own risk. We are not liable for any losses or 
damages incurred from the use of this website.</i></p>
</footer>
</body>
</html>