<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css" >
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RGYMZRZ03H"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-RGYMZRZ03H');
    </script>
</head>
<body>
<!-- Navbar which can be reused across other pages -->
<%- include('../partials/navbar'); %>
            <img class="about-img" src="/images/main.jpg" alt="where your things go matters">
            <h2>About</h2> 
            <p>
                Decluttering isn't just about clearing space—it's about doing it with purpose.<br>
                <strong>Declutterly.space</strong> aims to support sustainable decluttering in Singapore by helping you find meaningful ways to recycle, repair, or repurpose your items instead of adding to landfill waste.<br>
                Whether you're looking to donate, sell, or responsibly dispose of belongings, we provide curated resources and practical guidance to make the process seamless.<br>
                <em>Our mission is simple:</em> to make decluttering effortless while reducing environmental impact, one thoughtful choice at a time.<br>
                Join us in shaping a cleaner, more sustainable future—because where things go matters.
            </p>
        </section>
    </main>
    <!-- Footer -->  
    <footer>
        <p>&copy; 2025 <a href="/about"><strong>DeclutterLY.space</strong></a></p>
    </footer>
</body>
</html>