<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeclutterLY.space.... where your things go matters</title>
    <link rel="stylesheet" href="/css/style.css" >
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RGYMZRZ03H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-RGYMZRZ03H');
</script>
<body>
<main class="container">
<!-- Navbar which can be reused across other pages -->
<%- include('../partials/navbar'); %>

    <header>
        <h1>Nearby Spots</h1>
    <div class="filter-buttons">
    <button onclick="filterCards('all', this)" class="active"><a href="/gen">All</a></button>
    <button onclick="filterCards('Recycle', this)"><a href="/gen_recycle">Recycle</a></button>
    <button onclick="filterCards('Repair', this)"><a href="/gen_repair">Repair</a></button>
    <button onclick="filterCards('Donate', this)"><a href="/gen_donate">Donate</a></button>
    </div>
    </header>

    <main id="spots-container">
        <!-- Cards will be injected here by JavaScript -->
    </main>

    <script src="/script.js"></script>

</body>
</html>
