<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Declutterly: where your things go matters</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css" >
</head>
<body>
    <main class="container">
        <!-- Navbar which can be reused across other pages -->
        <%- include('../partials/navbar'); %>

        <!-- Information welcoming visitors to my page -->
        <div class="welcome-container">
            <h1>DeclutterLy... where your things go matters.</h1>
            <h2>Mindful moves to spark joy</h2>
        </div>

        <!-- Form for visitors to select type of item -->
        <form id="declutterForm">
        <label for="category">1. Select category:</label>
        <select id="category" name="category">
        <option value="">--Choose--</option>
        <option value="clothes">Clothes</option>
        <option value="electronics">Electronics</option>
        <option value="furniture">Furniture</option>
        <option value="books">Books</option>
        </select>

        <label for="description">Describe your item (optional):</label>
        <textarea id="description" placeholder="Describe your item..."></textarea>
        <input type="file" accept="image/*">


        <div class="new-post-btn-container">
           <a href="/new" class="button" role="button">+ New Post</a>
        </div>

        <!-- Show blog posts -->
        <% blogs.forEach(post => { %>
            <article class="post-container">
                <h3><%= post.title %></h3>
                <p><%= post.content %></p>
                <form action="/delete/<%= post.id %>" method="post" onsubmit="return confirm('Do you really want to delete this post?');">
                    <button class="outline primary" type="submit">Delete</button>
                </form>
            </article>
        <% }); %>
    </main>
</body>
</html>