<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeclutterLY.space.... where your things go matters</title>
    <link rel="stylesheet" href="/css/style.css" >
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RGYMZRZ03H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-RGYMZRZ03H');
</script>
</head>

<body>
<main class="container">
<!-- Navbar which can be reused across other pages -->
<%- include('../partials/navbar'); %>
<img class="banner-img" src="/images/main1.jpg" alt="where your things go matters">
<br>

<!-- Information welcoming visitors to my page -->
<div class="welcome-container">
<h3>Seeking to declutter? Where your things go matters.
  Explore options for what to do with your items, from large appliannces to small gadgets or old batteries,
  be it to recycle, repair or donate.
</h3>
</div>

<!-- New Form -->  
<form action="/results" method="POST" enctype="multipart/form-data" class="input-section">
  <h2>What would you like to declutter?</h2>
  <div class="input-methods">
    <div class="input-group">
      <label for="itemcategory">Choose a category:</label>
      <select id="itemcategory" name="itemcategory">
        <option value="">Select a category</option>
        <option value="Ewaste: ICT equipment,  batteries, lamps)" data-link="/gen_ewaste">laptops, mobile, batteries, lamps</option>
        <option value="Ewaste: batteries)" data-link="/gen_recyclebatt">batteries</option>
        <option value="General including furniture, clothing household goodes" data-link="/gen_furniture">Furniture, Household goods</option>
        <option value="Clothing" data-link="/gen_clothes">clothing</option>
        <option value="Bags and accessories" data-link="/gen_bags">bags and accessories</option>
        <option value="Books, Stationary" data-link="/gen_books">books, stationary</option>
      </select>
    </div>
    
    <div class="input-group location">
      <label for="estatecode">Where are you located? </label>
      <select id="estatecode" name="estatecode" required>
        <option value="">Select a housing estate</option>
        <option value="56" data-link="/gen">Ang Mo Kio (56)</option>
        <option value="46" data-link="/gen">Bedok (46)</option>
        <option value="57" data-link="/gen">Bishan (57)</option>
        <option value="65" data-link="/gen">Bukit Batok (65)</option>
        <option value="15" data-link="/gen">Bukit Merah (15)</option>
        <option value="67" data-link="/gen">Bukit Panjang (67)</option>
        <option value="58" data-link="/gen">Bukit Timah (58)</option>
        <option value="01" data-link="/gen">Central Area (01)</option>
        <option value="68" data-link="/gen">Choa Chu Kang (68)</option>
        <option value="12" data-link="/gen">Clementi (12)</option>
        <option value="38" data-link="/gen">Geylang (38)</option>
        <option value="53" data-link="/gen_hg">Hougang (53)</option>
        <option value="60" data-link="/gen">Jurong East (60)</option>
        <option value="64" data-link="/gen">Jurong West (64)</option>
        <option value="32" data-link="/gen">Kallang/Whampoa (32)</option>
        <option value="44" data-link="/gen">Marine Parade (44)</option>
        <option value="51" data-link="/gen">Pasir Ris (51)</option>
        <option value="82" data-link="/gen">Punggol (82)</option>
        <option value="14" data-link="/gen">Queenstown (14)</option>
        <option value="75" data-link="/gen">Sembawang (75)</option>
        <option value="54" data-link="/gen">Sengkang (54)</option>
        <option value="55" data-link="/gen">Serangoon (55)</option>
        <option value="52" data-link="/gen">Tampines (52)</option>
        <option value="31" data-link="/gen">Toa Payoh (31)</option>
        <option value="73" data-link="/gen_woodlands">Woodlands (73)</option>
        <option value="76">Yishun (76)</option>
      </select>
    </div>
  <br>
 
  <button type="submit" class="declutter-btn active">
  </i> <a href="/gen" class="resource-link">Search</a></i></button>

</form>
<br>
<!-- Links to other pages -->
<br><a href="/tip">Quick Tip!</a>  <a href="/channels">Coming soon</a>

<!-- Footer -->  
<footer>
<p>&copy; 2025 <a href="/about"><strong>DeclutterLY.space</strong></a> 
<br>
<br><i>Disclaimer: This website is created for learning purposes only. 
The information provided here should not be considered professional advice. 
Please note that we make no guarantees regarding the accuracy, completeness, or 
reliability of the contents of this website. Any actions you take based on the 
contents of this website are at your own risk. We are not liable for any losses or 
damages incurred from the use of this website.</i></p>
</footer>
</body>
<script>
document.getElementById('estatecode').addEventListener('change', function() {
  const selectedOption = this.options[this.selectedIndex];
  const link = selectedOption.getAttribute('data-link');
  if (link) {
    window.location.href = link;
  }
});
</script>
<script>
document.getElementById('itemcategory').addEventListener('change', function() {
  const selectedOption = this.options[this.selectedIndex];
  const link = selectedOption.getAttribute('data-link');
  if (link) {
    window.location.href = link;
  }
});
</script>
</html>