<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeclutterLY.space.... where your things go matters</title>
    <link rel="stylesheet" href="/css/style.css" >
 
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RGYMZRZ03H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-RGYMZRZ03H');
</script>
</head>

<body>
<main class="container">
<!-- Navbar which can be reused across other pages -->
<%- include('../partials/navbar'); %>
<img class="banner-img" src="/images/main1.jpg" alt="where your things go matters">
<br>

<!-- Information welcoming visitors to my page -->
<div class="welcome-container">
<h3>Seeking to declutter? Where your things go matters.
  Explore options for what to do with your items, from large appliances to small gadgets or old batteries,
  be it to recycle, repair or donate.
</h3>
</div>

<!-- New Form -->  
<form action="/results" method="POST" enctype="multipart/form-data" class="input-section">
  <h2>What would you like to declutter?</h2>
  <div class="input-methods">
    <div class="input-group">
      <label for="itemcategory">Choose a category:</label>
      <select id="itemcategory" name="itemcategory">
        <option value="">Select a category</option>
        <option value="Ewaste: ICT equipment,  batteries, lamps)" data-link="/gen_ewaste">Laptops, mobile, batteries, lamps</option>
        <option value="Ewaste: batteries)" data-link="/gen_recyclebatt">Batteries</option>
        <option value="General including furniture, clothing household goodes" data-link="/gen_furniture">Furniture, Household goods</option>
        <option value="Clothing" data-link="/gen_clothes">Clothing</option>
        <option value="Bags and accessories" data-link="/gen_bags">Bags and accessories</option>
        <option value="Books, Stationary" data-link="/gen_books">Books, stationary</option>
      </select>
    </div>
    
    <div class="input-group location">
      <label for="estatecode">Where are you located? </label>
      <select id="estatecode" name="estatecode" required>
        <option value="">Select a housing estate</option>
        <% channels.forEach(channel => { %>
          <option value="<%= channel.code %>" data-link="<%= channel.link %>">
            <%= channel.name %>
          </option>
        <% }) %>
      </select>
    </div>
  <br>
 
  <button type="submit" class="declutter-btn active">
  </i> <a href="/gen" class="resource-link">Search</a></i></button>

</form>
<br>
<!-- Links to other pages -->
<br><a href="/channels">.</a>

<!-- Footer -->  
<footer>
<p>&copy; 2025 <a href="/about"><strong>DeclutterLY.space</strong></a> 
<br>
<br><i>Disclaimer: This website is created for learning purposes only. 
The information provided here should not be considered professional advice. 
Please note that we make no guarantees regarding the accuracy, completeness, or 
reliability of the contents of this website. Any actions you take based on the 
contents of this website are at your own risk. We are not liable for any losses or 
damages incurred from the use of this website.</i></p>
</footer>
</body>
<script>
document.getElementById('estatecode').addEventListener('change', function() {
  const selectedOption = this.options[this.selectedIndex];
  const link = selectedOption.getAttribute('data-link');
  if (link) {
    window.location.href = link;
  }
});
</script>
<script>
document.getElementById('itemcategory').addEventListener('change', function() {
  const selectedOption = this.options[this.selectedIndex];
  const link = selectedOption.getAttribute('data-link');
  if (link) {
    window.location.href = link;
  }
});
</script>
</html>