<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Results</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
  <h2>Locations</h2>
 
  <% if (channels.length === 0) { %>
    <p>No results found.</p>
  <% } else { %>
    <div id="map" style="height: 500px;" aria-label="Map showing matched locations"></div>
    <ul aria-label="List of matched locations">
      <% channels.forEach(channel => { %>
        <li>
          <strong><%= channel.Name %></strong><br>
          <%= channel.Address %><br>
          <%= channel.Itemcategory %>
        </li>
      <% }) %>
    </ul>
  <% } %>
