<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeclutterLY.space.... where your things go matters</title>
    <link rel="stylesheet" href="/css/style.css" >
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RGYMZRZ03H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-RGYMZRZ03H');
</script>
</head>
<body>
<!-- Navbar which can be reused across other pages -->
<%- include('../partials/navbar'); %>
<main class="container">
    <h1>Tip</h1>
    <div class="tip-container">
       <img class="banner-img" src="/images/tip.jpg" alt="Quick Tip
    </div>
</body

